<div class="form ">
  <%= form_for @list do |f|%>
    <div class="form-group">
    <%= f.label :todo ,"What to do?"%>
    <%= f.text_field :todo,class:"form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :date ,"Date"%>
    <%= f.text_field :date, class:"form-control"%>
    </div>
    <div class="form-group">
    <%= f.label :description ,"Description"%>
    <%= f.text_area :description, class: "form-control"%>
    </div>
    <%= f.submit "OK" ,class:"btn btn-primary"%>
  <%end%>
</div>
<% if @list.errors.present? %>
  <div class="input-error"> 
    <ul>
    <% @list.errors.each do |error, message| %>
    <li> <%= "#{error.capitalize} : #{message}" %></li>
    <%end%>
    </ul>
  </div>
<%end%>
